{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Upload pictures</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.1/basic.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <form class="dropzone" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="fallback">
                <input name="image" type="src" multiple />
            </div>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.8.1/min/dropzone.min.js"></script>
    </body>
</html>